<div class="row">

  <dx iv class="col s6 offset-s3">
    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}
    <h1>Сбросить пароль </h1>
    <form action="/auth/reset" method="post">
      <div class="input-field">
        <input
          placeholder="Placeholder"
          id="email"
          name="email"
          type="email"
          class="validate"
          required
        />
        <label for="title">Email</label>
        <span
          class="helper-text"
          data-error="Введите email"
          data-success="right"
        ></span>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}" />
      <button type="submit" class="btn btn-primary">Сбросить</button>
    </form>
  </dx>
</div>